{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
{{ form_errors(form) }}
  <div class="mb-3">
    {{ form_label(form.titre) }}
    {{ form_widget(form.titre, {'attr': {'class': 'form-control'}}) }}
    {{ form_errors(form.titre) }}
  </div>
  <div class="mb-3">
    {{ form_label(form.contenuFile) }}
    {{ form_widget(form.contenuFile, {'attr': {'class': 'form-control'}}) }}
    {{ form_errors(form.contenuFile) }}
  </div>
  <div class="mb-3">
    {{ form_label(form.type) }}
    {{ form_widget(form.type, {'attr': {'class': 'form-select'}}) }}
    {{ form_errors(form.type) }}
  </div>
  <div class="mb-3">
    {{ form_label(form.dateExamen) }}
    {{ form_widget(form.dateExamen, {'attr': {'class': 'form-control'}}) }}
    {{ form_errors(form.dateExamen) }}
  </div>
  <div class="mb-3">
    {{ form_label(form.duree) }}
    {{ form_widget(form.duree, {'attr': {'class': 'form-control'}}) }}
    {{ form_errors(form.duree) }}
  </div>
  <div class="mb-3">
    {{ form_label(form.cours) }}
    {{ form_widget(form.cours, {'attr': {'class': 'form-select'}}) }}
    {{ form_errors(form.cours) }}
  </div>
  <div class="mb-3">
    {{ form_label(form.enseignant) }}
    {{ form_widget(form.enseignant, {'attr': {'class': 'form-select'}}) }}
    {{ form_errors(form.enseignant) }}
  </div>
  <button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
