{{ form_start(form) }}
  <div class="mb-3">
    {{ form_label(form.note) }}
    {{ form_widget(form.note, {'attr': {'class': 'form-control'}}) }}
    {{ form_errors(form.note) }}
  </div>
  <div class="mb-3">
    {{ form_label(form.appreciation) }}
    {{ form_widget(form.appreciation, {'attr': {'class': 'form-control'}}) }}
    {{ form_errors(form.appreciation) }}
  </div>
  <div class="mb-3">
    {{ form_label(form.eleveId) }}
    {{ form_widget(form.eleveId, {'attr': {'class': 'form-control'}}) }}
    {{ form_errors(form.eleveId) }}
  </div>
  <div class="mb-3">
    {{ form_label(form.examen) }}
    {{ form_widget(form.examen, {'attr': {'class': 'form-select'}}) }}
    {{ form_errors(form.examen) }}
  </div>
  <button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
