{% extends 'scholar_base.html.twig' %}

{% block title %}Dashboard Eleve - EduFlex{% endblock %}

{% block body %}
  <div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
      <span class="dot"></span>
      <div class="dots"><span></span><span></span><span></span></div>
    </div>
  </div>

  <header class="header-area header-sticky">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
            <a href="{{ path('app_home') }}" class="logo"><h1>Eduflex</h1></a>
            <ul class="nav">
              <li><a class="active" href="{{ path('app_student_dashboard') }}">Dashboard</a></li>
              <li><a href="{{ path('app_forum_index_context', {'context': 'student'}) }}">Forum</a></li>
              <li><a href="{{ path('eleve_cours_index') }}">Mes cours</a></li>
              <li><a href="{{ logout_path() }}">Logout</a></li>
            </ul>
            <a class="menu-trigger"><span>Menu</span></a>
          </nav>
        </div>
      </div>
    </div>
  </header>

  <div class="main-banner" id="top">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="owl-carousel owl-banner">
            <div class="item item-1">
              <div class="header-text">
                <span class="category">Espace Eleve</span>
                <h2>Organisez vos cours facilement</h2>
                <p>Consultez vos contenus de cours, suivez vos activites et avancez sereinement.</p>
                <div class="buttons">
                  <div class="main-button"><a href="{{ path('eleve_cours_index') }}">Voir mes cours</a></div>
                  <div class="icon-button"><a href="{{ path('app_forum_index_context', {'context': 'student'}) }}"><i class="fa fa-comments"></i> Forum</a></div>
                </div>
              </div>
            </div>
            <div class="item item-2">
              <div class="header-text">
                <span class="category">Planning</span>
                <h2>Restez a jour sur vos objectifs</h2>
                <p>Gardez une vision claire de votre progression scolaire.</p>
              </div>
            </div>
            <div class="item item-3">
              <div class="header-text">
                <span class="category">Performance</span>
                <h2>Suivez vos resultats</h2>
                <p>Visualisez rapidement les informations importantes de votre parcours.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="services section">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="service-item">
            <div class="icon"><img src="{{ asset('images/service-01.png') }}" alt="cours"></div>
            <div class="main-content">
              <h4>Mes cours</h4>
              <p>Accedez rapidement a tous vos contenus pedagogiques.</p>
              <div class="main-button"><a href="{{ path('eleve_cours_index') }}">Ouvrir</a></div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="service-item">
            <div class="icon"><img src="{{ asset('images/service-02.png') }}" alt="forum"></div>
            <div class="main-content">
              <h4>Forum</h4>
              <p>Discutez et posez vos questions sur les sujets de cours.</p>
              <div class="main-button"><a href="{{ path('app_forum_index_context', {'context': 'student'}) }}">Participer</a></div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="service-item">
            <div class="icon"><img src="{{ asset('images/service-03.png') }}" alt="suivi"></div>
            <div class="main-content">
              <h4>Suivi</h4>
              <p>Conservez une vue globale de vos activites.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script>
    (function () {
      function hidePreloader() {
        var preloader = document.getElementById('js-preloader');
        if (preloader) preloader.classList.add('loaded');
      }
      window.addEventListener('load', hidePreloader);
      setTimeout(hidePreloader, 1500);
    })();
  </script>
{% endblock %}
